/B4R/AutoBackups
/B4R/Objects
/AnywhereSoftware_B4R_Serial_Connector/AutoBackups
/AnywhereSoftware_B4R_Serial_Connector/Objects
/B4J_AnywhereSoftware_B4R_Serial_Connector/AutoBackups
/B4J_AnywhereSoftware_B4R_Serial_Connector/Objects
/B4R_rDebug.b4xlib/AutoBackups
/B4R_rDebug.b4xlib/Objects
